.main_background {
        background-color: #0081C6;
        color: white;
    }
.main_title_background{
        background-color: #49b6ff;
        color: white;
	padding-top: 3px;
        padding-bottom: 3px;
 }
    .mt-0 {
        margin-bottom: 0 !important;
    }
    
.white_color_link a {
        color: #fff !important;
        text-decoration: none;
        margin-left: 5px;
        padding-left: 3px;
        padding-right: 3px;
    }
    
    table, th, td {
        padding: 1px !important;
    }
    * {
        border-radius: 0 !important;
    }
   .followup_background {
        background-color: #d36239;
        color: white;
    }
.followup_title_background{
        background-color: #ff7e67;
        color: white;
	padding-top: 3px;
        padding-bottom: 3px;
 }
    
    .escalation_background {
        background-color: #B0494B;
        color: white;
    }
.escalation_title_background{
        background-color: #d16666;
        color: white;
	padding-top: 3px;
        padding-bottom: 3px;
 }
   
  .collab_background {
        background-color: #00ad7c;
        color: white;
    }
.collab_title_background{
        background-color: #52d681;
        color: white;
	padding-top: 3px;
        padding-bottom: 3px;
 }

 [id*="flash"]
{
	color:yellow !important;
}


#caseidlink a{
   color: #212529 !important;
    background-color: #f8f9fa;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    horizontal-align:middle;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} 

#caseidlink a:hover{
color: #212529!important;
    background-color: #f8f9fa;
}
